@model PickMeUp.Web.ViewModels.TripViewModel
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Driver' s trip</h2>
<div>
    <p>From: @Model.From</p>
    <p>To: @Model.To</p>
    <p>Price: @Model.Price</p>
</div>

